/* header section */
.header {
	height: 75px;
	box-sizing: inherit;

	background-color: black;
}

	.button {
		width: 35%;
		height: 60%;
		margin-top: 3%;
	}

	.nav {
		height: 100%;
		width: 100%;

		border-style: none;
		border-radius: 5px;
	}

	#leftChunk {
		width: 66.7%;
		height: 100%;
		float: left;
	}

		#leftLocation {
			width: 50%;
			height: 100%;
			float: left;
		}

			#rating {
				margin-left: 5%;
				float: left;
			}

		#logoLocation {
			width: 50%;
			height: 100%;

			float: right;
		}

	#rightLocation {
		width: 33.3%;
		height: 100%;
		float: right;
	}

		#title {
			margin-right: 5%;
			float: right;
		}
