/* body section */
.main {
	height: 94.4%;

	box-sizing: inherit;
}

	#overview {
		box-sizing: inherit;
		height: 60%;

		background-color: red;
	}

	#websites {
		box-sizing: inherit;
		height: 40%;

		background-color: pink;
	}

.footer {
	height: 2.3%;

	box-sizing: inherit;
	background-color: blue;
}