p {
  text-align: center;
}

#streamSites {
  line-height: 40px;
  font-size: 30px;
}

#overviewContent {
  line-height: normal;
  font-size: 60px;
}

.main {
	height: 94.4%;

	box-sizing: inherit;
}

	#overview {
		box-sizing: inherit;
		height: 50%;

		background-color: red;
	}

	#websites {
		box-sizing: inherit;
		height: 50%;
	}
