p {
  text-align: center;
}

#streamSites {
  line-height: normal;
  font-size: 30px;
}

	#overview {
		box-sizing: inherit;
		height: 40%;

		background-color: red;
	}

    #overviewTitle {
      line-height: normal;
      font-size: 100px;
    }

    #underTitle {
      font-size: 35px;
    }

    #overviewContent {
      font-size: 35px;
      line-height: normal;
      margin-left: 20%;
      margin-right: 20%;
    }

	#websites {
		box-sizing: inherit;
		height: 60%;
	}


  .main {
  	height: 92%;

  	box-sizing: inherit;
  }

  .footer {
  	height: 3%;

  	box-sizing: inherit;
  	background-color: blue;
  }

  body {
  	margin: 0;

  	height: 1500px;
  }
